# Flutter/Dart/Pub related
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
Generated.xcconfig
Flutter.podspec

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Android
build/
local.properties

# iOS
ios/Flutter/Generated.xcconfig
ios/Flutter/GeneratedDebug.xcconfig
ios/Flutter/GeneratedRelease.xcconfig

# Web
web/manifest.json
web/firebase-messaging-sw.js
